<header id="page-header">

  <div class="logo-container">

    <a href="{{site.baseurl}}/"><img class="logo" src="{{ "/assets/img/logo.jpg" | prepend: site.baseurl }}" alt="Ebletoft Marineforening - Logo"/></a>

    <h1>Ebeltoft Marineforening</h1>

  </div>

  <nav class="menu">
    <ul>
      {% for menuItem in site.data.menu %}
      {% assign current = page.url | downcase | split: '/' %}
      <li><a href="{{menuItem.url | prepend: site.baseurl}}" {% if current contains menuItem.url %} class="active" {% endif %}>{{menuItem.title}}</a></li>
      {% endfor %}

    </ul>
  </nav>

  <footer>
    <ul>

      <li><a target="_blank" href="https://www.facebook.com/grenaamarineforening" class="a-button">Facebook</a></li>
      <li><a href="/kontakt">Kontakt</a></li>
      <li class="caption">© Ebeltoft Marineforening 2016</li>

    </ul>

  </footer>

</header>
